.navbar {
    padding-top:0;
    padding-bottom:0;
    color: rgb(0, 0, 0);
    border-bottom: solid 3px turquoise;
}

.navbar-brand {
    background-color:turquoise;
    padding: 14px 34px;
}

#navbarNav {
    margin-left: 25px;
}

.nav-item{
    padding-right: 30px;
}

#timerLeftText{
    color: rgb(40, 136, 126);
}


/* Body */

body{
    background-color:rgb(255, 255, 255)238);
}

.jumbotron{
    border: solid 2px turquoise;
}

.jumbotron .display-12 {
    text-align: center;
}

.jumbotron .btn-md {
    background-color: rgba(64, 224, 208, 0.445);
    display: none;
}

.jumbotron .btn-lg {
    background-color: rgba(64, 224, 208, 0.445);
}

form{
    display: none;
}

#restart{
display:none;
color: red;
}
/* Footer */
footer{
    text-align: center;
    background-color:turquoise;
    color:rgb(0, 0, 0);
    border-top: solid 2px black;
    padding-top: 18px;
    padding-bottom: 12px;
    font-size: smaller;
    position: absolute;
    width: 100%;
}


